* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
    background-color: #f5f5f5;
    padding: 20px;
}

/* Header Section */
header {
    background-color: #009245;
    color: white;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #fff;
    color: black;
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: #009245;
}

.info p {
    margin: 2px 0;
    font-size: 0.9rem;
}

.actions button {
    margin-left: 10px;
    padding: 15px 15px;
    border: none;
    color: white;
    cursor: pointer;
}

.portal {
    background-color: #65c4a8;
}

.appointment {
    background-color: #3f91ca;
}

.menu {
    display: flex;
    justify-content: center;
    background-color: #009245;
    padding: 15px 0;
    list-style: none;
    flex-wrap: wrap;
    gap: 25px;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menu input[type="text"] {
    padding: 6px 10px;
    border-radius: 5px;
    border: none;
}

/* Form Section */
.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 750px;
    margin: 20px auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.submit-btn {
    background-color: green;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: darkgreen;
}
